@namespace UiKit.Components
@inherits UiKitComponentBase

<div class="@ComponentCss">
    @ChildContent
</div>

@code {

    [Parameter, EditorRequired]
    public bool Disabled { get; set; }

    [Parameter, EditorRequired]
    public bool FullWidth { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("input-control");

        cssBuilder.AddClass(Color.Primary.ToBackgroundCss());
        cssBuilder.AddClass("inline-flex relative rounded");
        cssBuilder.AddClass("active:!outline-none");
        cssBuilder.AddClass("focus-within:ring");
        cssBuilder.AddClass(Color.Primary.ToBorderFocusWithinCss());
        cssBuilder.AddClass(Color.Primary.ToRingFocusWithinCss());

        cssBuilder.AddClass(Color.Primary.ToBackgroundHoverCss(), !Disabled);
        cssBuilder.AddClass("drop-shadow-sm", !Disabled);
        cssBuilder.AddClass(Color.Primary.ToBackgroundDisabledCss(), Disabled);
        cssBuilder.AddClass(Color.Primary.ToTextDisabledCss(), Disabled);
        cssBuilder.AddClass("w-full", FullWidth);
    }
}