@namespace BlazorUiKit.Components
@inherits UiKitComponentBase

<div class="@ComponentCss">
    @ChildContent
</div>

@code {

    [Parameter, EditorRequired]
    public bool Disabled { get; set; }

    [Parameter, EditorRequired]
    public bool FullWidth { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("input-control");

        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundCss(Color.Primary));
        cssBuilder.AddClass("inline-flex relative rounded");
        cssBuilder.AddClass("active:!outline-none");
        cssBuilder.AddClass("focus-within:ring");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBorderCss(Color.Primary));
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBorderFocusWithinCss(Color.Primary));
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToRingFocusWithinCss(Color.Primary));

        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundHoverCss(Color.Primary), !Disabled);
        cssBuilder.AddClass("drop-shadow-sm", !Disabled);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.BackgroundDisabledCss, Disabled);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.TextDisabledCss, Disabled);
        cssBuilder.AddClass("w-full", FullWidth);
    }
}