@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li aria-selected="@Selected.ToHtml()"
    aria-disabled="@Disabled.ToHtml()"
    class="@ComponentCss"
    @onclick="OnClickHandler"
    @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("transition");
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("p-4");
        cssBuilder.AddClass("select-none");
        
        cssBuilder.AddClass("cursor-pointer", !Disabled);
        cssBuilder.AddClass("aria-disabled:cursor-not-allowed");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.TextDisabledCss);
        
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundActiveCss(Color.Primary), !Disabled);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextActiveCss(Color.Primary), !Disabled);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundHoverCss(Color.Primary), !Disabled);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color.Primary));
    }

    protected virtual void OnClickHandler()
    {
        if (!Disabled && !Selected)
        {
            List?.SetSelectedValue(Value);
        }
    }
}
