@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li class="@ComponentCss" @onclick="OnClick" @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {
    
    protected EventCallback OnClick { get; set; }
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("cursor-pointer");

        cssBuilder.AddClass("p-4");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color.Primary), !Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundHoverCss(Color.Primary), !Selected);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        OnClick = new EventCallbackFactory().Create(this, OnCLickHandler);
    }

    private void OnCLickHandler()
    {
        List?.SetSelectedValue(Value);
    }
}
