@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li class="@ComponentCss" @onclick="OnClick" @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("cursor-pointer");

        cssBuilder.AddClass("p-4");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color.Primary), !Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundHoverCss(Color.Primary), !Selected);
    }
    
    protected virtual Task OnClick()
    {
        List?.SetSelectedValue(Value);
        return Task.CompletedTask;
    }
}
