@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li class="@ComponentCss" @onclick="OnClickHandler" @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("p-4");
        cssBuilder.AddClass("select-none");

        if (Disabled)
        {
            cssBuilder.AddClass("cursor-not-allowed");
            cssBuilder.AddClass(ThemeManager.ThemeProvider.TextDisabledCss);
            return;
        }
        
        cssBuilder.AddClass("cursor-pointer");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextActiveCss(Color.Primary, false), Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color.Primary), !Selected);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBackgroundHoverCss(Color.Primary), !Selected);
    }

    protected virtual void OnClickHandler()
    {
        if (!Disabled && !Selected)
        {
            List?.SetSelectedValue(Value);
        }
    }
}
