@namespace BlazorUiKit.Components
@typeparam T where T : notnull

@inherits UiListItemBase<T>

<li aria-selected="@Selected.ToHtml()"
    aria-disabled="@Disabled.ToHtml()"
    tabindex="-1"
    class="@ComponentCss"
    @onclick="OnClickHandler"
    @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        base.AddComponentCssClasses(ref cssBuilder);
        
        cssBuilder.AddClass("p-4");
    }
}
