@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li class="@ComponentCss" @onclick="OnClick" @onclick:stopPropagation="true">
    @ChildContent
</li>

@code {

    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("cursor-pointer");

        cssBuilder.AddClass(Color.PrimaryAlternative.ToBackgroundCss(), Selected);
        cssBuilder.AddClass(Color.PrimaryAlternative.ToTextCss(), Selected);
        cssBuilder.AddClass(Color.Primary.ToTextHoverCss(), !Selected);
        cssBuilder.AddClass(ColorExtensions.BackgroundPrimaryHoverButtonColor, !Selected);
    }
    
    protected virtual Task OnClick()
    {
        List?.SetSelectedValue(Value);
        return Task.CompletedTask;
    }
}
