@namespace BlazorUiKit.Components
@inherits UiKitRenderComponentBase

<div class="@Class">
    <img src="@Src" alt="@Description" class="@ComponentCss"/>
</div>

@code {

    [Parameter, EditorRequired]
    public string Src { get; set; } = string.Empty;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public ObjectFit ObjectFit { get; set; } = ObjectFit.Cover;

    private string _previousSrc = string.Empty;
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass(BorderRadius.Default.ToTailwindcss());
        cssBuilder.AddClass("flex");
        cssBuilder.AddClass(ObjectFit.ToTailwindCss());
        cssBuilder.AddClass("select-none");
    }

    protected override void OnInitialized()
    {
        IncludeClassCss = false;
    }

    protected override void OnParametersSet()
    {
        if (_previousSrc == Src)
            return;

        _previousSrc = Src;
        AllowRender();
    }

}
