@namespace UiKit.Components
@inherits UiKitComponentBase

<div class="@Class">
    <img src="@Src" alt="@Description" class="@BuildImgCss()"/>
</div>

@code {

    [Parameter, EditorRequired]
    public string Src { get; set; } = null!;

    [Parameter]
    public string Description { get; set; } = string.Empty;

    [Parameter]
    public ObjectFit ObjectFit { get; set; } = ObjectFit.Cover;
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder){}

    private string BuildImgCss()
    {
        using var cssBuilder = new CssBuilder(stackalloc char[128]);
        cssBuilder.AddClass("rounded");
        cssBuilder.AddClass("flex");
        cssBuilder.AddClass(ObjectFit.ToTailwindCss());
        
        return cssBuilder.ToString();
    }
    
}
