@namespace BlazorUiKit.Components
@inherits UiKitRenderComponentBase

<span class="@ComponentCss">
    @(Icon.ToRenderFragment())
</span>

@code {

    [Parameter, EditorRequired]
    public TablerIcon Icon { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public string ViewBox { get; set; } = "0 0 24 24";

    [Parameter]
    public Color Color { get; set; } = Color.Inherit;

    private bool _firstRendered;
    private TablerIcon _currentIcon;

    protected override void OnInitialized()
    {
        CacheCss = true;
    }

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass(Size switch{
            Size.Custom => string.Empty,
            Size.Small => "text-[1.5rem]",
            Size.Medium => "text-[2rem]",
            Size.Large => "text-[2.5rem]",
            _ => throw new ArgumentOutOfRangeException()});
        
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToTextCss(Color));
    }

    protected override void OnParametersSet()
    {
        if (_currentIcon == Icon)
            return;

        _currentIcon = Icon;
        AllowRender();
    }
}
