@namespace UiKit.Components
@inherits UiKitRenderComponentBase

<span class="@ComponentCss">
    @(Icon.ToRenderFragment())
</span>

@code {

    [Parameter, EditorRequired]
    public TablerIconType Icon { get; set; }

    [Parameter]
    public Size Size { get; set; } = Size.Medium;

    [Parameter]
    public string ViewBox { get; set; } = "0 0 24 24";

    [Parameter]
    public Color Color { get; set; } = Color.Inherit;

    private bool _firstRendered;
    private TablerIconType _currentIcon;

    protected override void OnInitialized()
    {
        CacheCss = true;
    }

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass(Size.ToTailwindCssIcon());
        cssBuilder.AddClass(Color.ToTextCss());
    }

    protected override void OnParametersSet()
    {
        if (_currentIcon == Icon)
            return;

        _currentIcon = Icon;
        AllowRender();
    }
}
