@namespace UiKit.Components
@inherits UiKitRenderComponentBase

<Overlay Class="@OverlayCssBuilder()" Style="@($"z-index: {DialogReference.DialogPosition}0;")" OnClick="OverlayOnClickHandler">
    <div role="dialog"
         class="@ComponentCss"
         @onclick:stopPropagation="true">
        <CascadingValue IsFixed="true" Value="DialogReference">
            @DialogReference.DialogContent
        </CascadingValue>
    </div>
</Overlay>

@code
{
    [Parameter, EditorRequired]
    public IDialogReferenceBase DialogReference { get; set; } = null!;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("container mx-auto p-5 w-full");
        cssBuilder.AddClass("cursor-default animate-zoom");
        cssBuilder.AddClass("rounded border-2");
        cssBuilder.AddClass(ColorExtensions.FullBorderColor);
        cssBuilder.AddClass("drop-shadow-md");
        cssBuilder.AddClass(ColorExtensions.MainBackgroundColor);
        cssBuilder.AddClass(DialogReference.DisplayOptions.Breakpoint.ToTailwindCssMaxWidth());
    }

    protected override void OnInitialized()
    {
        CacheCss = true;
    }

    private string OverlayCssBuilder()
    {
        using var cssBuilder = new CssBuilder(stackalloc char[55]);

        cssBuilder.AddClass(DialogReference.DisplayOptions.DialogPosition.ToCss());
        cssBuilder.AddClass("cursor-pointer", DialogReference.DisplayOptions.DismissOnBackdropClick);

        return cssBuilder.ToString();
    }

    private void OverlayOnClickHandler()
    {
        if (!DialogReference.DisplayOptions.DismissOnBackdropClick)
            return;

        DialogReference.Cancel();
    }
}
