@namespace UiKit.Components
@inherits UiKitRenderComponentBase

<Overlay Class="flex items-center" Style="z-index: 100;" CloseOnClick="DialogReference.DisplayOptions.DismissOnBackdropClick" OnClick="Cancel">
    <div role="dialog"
         class="@ComponentCss"
         @onclick:stopPropagation="true">
        <DynamicComponent Type="@DialogReference.DialogType" Parameters="DialogReference.Parameters" />
    </div>
</Overlay>

@code
{
    [CascadingParameter]
    IDialogReferenceBase DialogReference { get; set; } = null!;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("container mx-auto p-5 w-full");
        cssBuilder.AddClass("cursor-default animate-zoom");
        cssBuilder.AddClass("rounded border-2");
        cssBuilder.AddClass(ColorExtensions.FullBorderColor);
        cssBuilder.AddClass("drop-shadow-md");
        cssBuilder.AddClass(ColorExtensions.MainBackgroundColor);
        cssBuilder.AddClass(DialogReference.DisplayOptions.Breakpoint.ToTailwindCssMaxWidth());
    }

    protected override void OnInitialized()
    {
        CacheCss = true;
    }

    public void Cancel() => DialogReference.Cancel();
}
