@namespace UiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li @onclick="OnClick" @onclick:stopPropagation="true">
    @if (Selected)
    {
        <UiKitIcon Icon="@TablerIconType.CircleDot"/>   
    }
    else
    {
        <UiKitIcon Icon="@TablerIconType.CircleFilled"/>
    }
</li>

@code {
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("cursor-pointer");
        cssBuilder.AddClass("p-1.5");
    }

    private void OnClick()
    {
        List?.SetSelectedValue(Value);
        AllowRender();
    }
}
