@namespace BlazorUiKit.Components
@typeparam T where T : notnull
@inherits UiListItemBase<T>

<li class="@ComponentCss" @onclick="OnClick" @onclick:stopPropagation="true">
    @UiKitIcon.MediumIconRenderFragment(IconType)
</li>

@code {

    TablerIcon IconType => Selected ? TablerIcon.CircleDot : TablerIcon.Circle;
    
    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("cursor-pointer");
        cssBuilder.AddClass("p-1.5");
    }

    private void OnClick()
    {
        List?.SetSelectedValue(Value);
    }
}
