@namespace BlazorUiKit.Components
@inherits UiKitRenderComponentBase

@inject IJSRuntime JsRuntime

<dialog @ref="_element" class="@ComponentCss" @onclose="DialogReference.Cancel">
    <CascadingValue IsFixed="true" Value="DialogReference">
        @if (DialogReference.DisplayOptions.HeadLess)
        {
            @DialogReference.DialogContent   
        }
        else
        {
            <Stack Direction="Direction.Row" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Class="mb-6">
                <h3 class="text-center">@DialogReference.DisplayOptions.Title</h3>
                
                @if (DialogReference.DisplayOptions.ShowDismiss)
                {
                    <UiButton Icon="TablerIcon.X" Size="Size.Medium" @onclick="DialogReference.Cancel"></UiButton>
                }
            </Stack>
            
            @DialogReference.DialogContent
        }
    </CascadingValue>
</dialog>

@code
{
    [Parameter, EditorRequired]
    public IDialogReferenceBase DialogReference { get; set; } = null!;

    ElementReference _element;

    protected override void AddComponentCssClasses(ref CssBuilder cssBuilder)
    {
        cssBuilder.AddClass("container p-5");
        cssBuilder.AddClass("cursor-default animate-zoom");
        cssBuilder.AddClass("rounded border-2 drop-shadow-md");
        cssBuilder.AddClass(ThemeManager.ThemeProvider.ToBorderCss(Color.Secondary));
        cssBuilder.AddClass(DialogReference.DisplayOptions.Breakpoint.ToTailwindCssMaxWidth());
        cssBuilder.AddClass(ThemeManager.ThemeProvider.PageBackgroundCss);
        cssBuilder.AddClass(ThemeManager.ThemeProvider.PageTextCss);
        
        cssBuilder.AddClass("backdrop:bg-main-dark-background/60");
    }

    protected override async Task OnFirstRenderAsync()
    {
        await JsRuntime.InvokeVoidAsync("OpenModalDialog", _element, DialogReference.DisplayOptions.PreventDismissOnOverlayClick);
    }
}
