@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .invalid {
        @apply outline outline-2 outline-error;
    }

    .valid {
        @apply outline outline-2 outline-successful;
    }

    .input-control-label {
        @apply absolute px-1.5 top-0 left-4 translate-y-4 origin-top-left text-label-large duration-200 pointer-events-none z-10 select-none;
    }
    
    .input-control{
        
    }

    .has-text {
    }
    
    .input-adornment-left {
        
    }
    
    .input-field .input-control:focus + .input-control-label,
    .input-field .input-control:disabled + .input-control-label,
    .input-field .input-control:placeholder-shown + .input-control-label,
    .input-field .input-control:not(:placeholder-shown):not(:empty) + .input-control-label,
    .input-field .input-control.has-text + .input-control-label,
    .input-adornment-left ~ .input-control-label {
        @apply translate-y-[-10px] text-label-small;
    }
}

@layer utilities {
    .icon {
        width: 1em;
        height: 1em;
        display: inline-block;
        flex-shrink: 0;
        user-select: none;
    }
}

@layer base {
    h1 {
        @apply text-h1;
    }
    
    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    h4 {
        @apply text-h4;
    }

    h5 {
        @apply text-h5;
    }

    h6 {
        @apply text-h6;
    }

    a {
        @apply focus:outline-none disabled:bg-dark-gray-5 disabled:text-dark-gray-60;
    }

    input {
        @apply w-full focus:!outline-none active:!outline-none bg-transparent placeholder-dark-40 dark:placeholder-dark-gray-30;
    }
    textarea {
        @apply bg-transparent w-full;
    }
}