@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .invalid {
        @apply outline outline-2 outline-error;
    }

    .valid {
        @apply outline outline-2 outline-successful;
    }
}

@layer utilities {
    .icon {
        width: 1em;
        height: 1em;
        display: inline-block;
        flex-shrink: 0;
        user-select: none;
    }
}

@layer base {
    h1 {
        @apply text-h1;
    }
    
    h2 {
        @apply text-h2;
    }

    h3 {
        @apply text-h3;
    }

    h4 {
        @apply text-h4;
    }

    h5 {
        @apply text-h5;
    }

    h6 {
        @apply text-h6;
    }

    a {
        @apply focus:outline-none disabled:bg-dark-gray-5 disabled:text-dark-gray-60;
    }

    input {
        @apply w-full focus:!outline-none active:!outline-none bg-transparent placeholder-dark-40 dark:placeholder-dark-gray-30;
    }
    textarea {
        @apply bg-transparent w-full;
    }
}